
@{
    ViewBag.Title = "About";
}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!--Kategoriler-->
            @Html.Partial("_PartialCategories")
        </div>
        <div class="col-md-7 col-md-offset-1">
            <!--Carusel-->
            <div class="row">
                <h2 class="text-center">
                    Denemeler yazılar
                </h2>
                <hr/>
                <img src="http://placehold.it/500x200" class="center-block img-responsive img-thumbnail" alt="Alternate Text"/>
                <hr/>
                <p> 
                    alsmdşasdmşqlwemqşlemqşlemqşlem şlasmdlşasmdşlasmdaşsldmasşldmasşldamsdşlamsşl amsşdlamsdşlmqwşleqwmeşqwmeasöçdmqçöwemqçwöemq çwöemqwşe mqşwlemqşlwe mqşwe mşqlwe mşqlwem şl
                </p>
                <p>
                    alsmdşasdmşqlwemqşlemqşlemqşlem şlasmdlşasmdşlasmdaşsldmasşldmasşldamsdşlamsşl amsşdlamsdşlmqwşleqwmeşqwmeasöçdmqçöwemqçwöemq çwöemqwşe mqşwlemqşlwe mqşwe mşqlwe mşqlwem şl
                </p>
                <p>
                    alsmdşasdmşqlwemqşlemqşlemqşlem şlasmdlşasmdşlasmdaşsldmasşldmasşldamsdşlamsşl amsşdlamsdşlmqwşleqwmeşqwmeasöçdmqçöwemqçwöemq çwöemqwşe mqşwlemqşlwe mqşwe mşqlwe mşqlwem şl
                </p>
                <p>
                    alsmdşasdmşqlwemqşlemqşlemqşlem şlasmdlşasmdşlasmdaşsldmasşldmasşldamsdşlamsşl amsşdlamsdşlmqwşleqwmeşqwmeasöçdmqçöwemqçwöemq çwöemqwşe mqşwlemqşlwe mqşwe mşqlwe mşqlwem şl
                </p>
                <p>
                    alsmdşasdmşqlwemqşlemqşlemqşlem şlasmdlşasmdşlasmdaşsldmasşldmasşldamsdşlamsşl amsşdlamsdşlmqwşleqwmeşqwmeasöçdmqçöwemqçwöemq çwöemqwşe mqşwlemqşlwe mqşwe mşqlwe mşqlwem şl

                </p>
            </div>

        </div>
    </div>
</div>
<!-- /.container -->