
@{
    ViewBag.Title = "RegisterOk";
}



<link href="~/Content/login-register.css" rel="stylesheet" />


<section class="login-info">
    <div class="container">
        <div class="row main">
            <div class="form-header">
                <h1 class="text-center ">Yönlendiriliyorsunuz </h1>
            </div>
            <div class="main-content">

                <div class="text-success">
                    <h2><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp; Kayıt Oldunuz..</h2>
                    <hr />
                    <p class="text-justify">
                        Lütfen e-posta adresinize gönderdiğimiz aktivasyon link'ine tıklayarak hesabınızı aktive ediniz.
                        Hesabınız aktive etmeden not ekleyemez ve beğenme yapamazsınız..
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        $("footer").parent.hide();

        setTimeout(function () {
            window.location = "/Home/Index";
        }, 1000);
            
    });

</script>
